@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
body > div:first-child {
  text-align: right;
  width: 100%;
}
body > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.time {
  color: #17d4fe;
  font-family: "Syne Mono", monospace;
  font-size: 60px;
}
.name {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
}
.name span {
  color: #17d4fe;
  font-size: 30px;
}
.name i {
  margin-left: 10px;
  color: #17d4fe;
}
.name i:hover {
  cursor: pointer;
}

.name__inputName {
  border-radius: 20px;
  border: 1px solid #17d4fe;
}

.name__inputName:focus {
  outline: none;
}

.todolist {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

table {
  position: absolute;
  background-color: aqua;
  border-radius: 10px;
  border: 1px solid #17d4fe;
  width: 300px;
  height: 400px;
  top: -250px;
}
table:first-child {
  right: 280px;
}
table:last-child {
  left: 280px;
}
table > thead td {
  text-align: center;
  color: red;
}
table > tbody > tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table > tbody > tr > td:first-child {
  font-size: 13px;
}

table button:first-child {
  color: red;
}

table button:last-child {
  color: green;
}
button:hover {
  cursor: pointer;
}
table input {
  border-radius: 20px;
  border: 1px solid #17d4fe;
  width: 100%;
  padding: 0px;
  border: 0px;
}

table input:focus {
  outline: none;
}
